{%extends 'user/home_layout.html'%}

{%block content%}
<div class='content' style='background-color:white;padding:3em'>
<input type='text' id='fullname' class='form-control border-success noround  mb-3'>
<input type='hidden' id='csrf_token' name='csrf_token' value='{{csrf_token()}}'>
<button class='btn btn-danger noround'id='btnload'>Click Me</button>
<button class='btn btn-danger noround'id='btn_name'>Submit Me</button>
<div class='mb-3 border-primary' id='feedback'>
{{data}}
</div>
<div class='mb-3 border-primary' id='ajaxfeedback'></div>
<div class='row'>
    <div class='col'>
        <input type='text' id='email' class='form-control noround border-success'>
    </div>
    <div class='col'>
        <button id='check' class='btn btn-warning'>Check Availability</button>
    </div>
    <div class='col' id='avail'></div>

</div>
</div>
{%endblock%}

{%block customjs%}
<script type='text/javascript'>
$(document).ready(function(){
    $('#check').click(function(){
        email=$('#email').val()
        csrf=$('#csrf_token').val()
        data={'mail':email,'csrf_token':csrf}
        $('#avail').load("/checkusername/",data)
    })
    $('#btn_name').click(function(){
        fname=$('#fullname').val()
        csrf=$('#csrf_token').val()
        data2send={'fullname':fname,'csrf_token':csrf} /* json method (query string method 'fullname='+fname)*/
        $('#ajaxfeedback').load("/submission/",data2send,function(){
            $(this).addClass('alert alert-warning')
        })
    })
})
</script>
{%endblock%}