{%extends 'user/home_layout.html'%}
{%block content%}
<div class="content" style="background-color: white;padding:3em">
  <h3>Change Your profile Picture</h3>
  <form action='' method='post' enctype='multipart/form-data'>
    {{dpform.csrf_token}}
    {%if dpform.dp.errors%}
    <div class='alert alert-danger'>{{dpform.dp.error}}</div>
    {%endif%}
    <div class='mb-3'>
    {{dpform.dp.label}}
    {{dpform.dp}}
    </div>

    <div class='mb-3'>
        {{dpform.btnupload(class_='btn btn-secondary')}}
    </div>
  </form>
 </div>
{%endblock%}
{%block partner%}
{%endblock%}
{%block featured%}
{%endblock%}
