{%extends 'user/home_layout.html'%}
{%block content%}
<div class="content" style='background-color:white;padding:3em'>
    


  <div class="row g-5"> 
  <div class="col-md-4">
    <div class="position-sticky" style="top: 2rem;">
    <img src="/static/uploads/{{book.book_cover}}" class="img-fluid"  style="max-height:500px">
    </div>
  </div> 

  <div class="col-md-8">
    <h3 class="pb-4 mb-4 fst-italic ">
     {{book.book_title|title}}
    </h3>
    <p class='border-bottom'>{{book.book_desc}}</p>
    
    {%if book.bookreviews%}
    {%for r in book.bookreviews%}
    <article class="blog-post">
      <h5 class="blog-post-title">{{r.rev_title}}</h5>
      <p class="blog-post-meta">{{r.rev_date}} <a href="#">{{r.reviewby.user_fullname}}</a></p>

      <p>{{r.rev_text}}</p>
      <hr> 
    </article>
    {%endfor%}
    {%else%}
    <div class='alert alert-info' id='noreview'>No Review found on this book</div>
    {%endif%}
    
    {% if session.get('userloggedin')!=None:%}
    <article>
      <div id='feedback'></div>
    <form>
      <div class="mb-3 row">
        <input type='hidden' id='bookid' value='{{book.book_id}}'>
        <label class="col-md-3">Title</label>
        <div class="col-md-9">
          <input type="text" id='title' class="form-control border-info">
        </div>
      </div>
       <div class="mb-3 row">
        <label class="col-md-3">Review</label>
        <div class="col-md-9">
           <textarea name="" id='content' class="form-control border-info"></textarea>
        </div>
      </div>
       <div class="mb-3 row">
         <button class="btn btn-danger noround btn-lg" id='btn'>Submit Review</button>
       </div>
    </form>  
    </article>
    {%else%}
    <div><a href='{{url_for('login')}}' class='alert-link'>Login to review</a></div>
    {%endif%}

  </div>

 

</div>
{%endblock%}

{%block patner%}

{%endblock%}

{%block featured%}

{%endblock%}

{%block customercss%}
style='background-color:white';
{%endblock%}

{%block customjs%}
<script type='text/javascript'>
  $(document).ready(function(){
    $('#btn').click(function(event){
      event.preventDefault();
      var title=$('#title').val()
      var content=$('#content').val()
      var csrf='{{csrf_token()}}'
      var bookid=$('#bookid').val()
      var data2send={'title':title,'content':content,'csrf_token':csrf,'bookid':bookid}
      $.post('/submit_review/',data2send,function(serverRsp){
        $('#feedback').append(serverRsp)
        $('#noreview').hide()
  
      })
    })
  })
</script>
{%endblock%}

  




